* {
    font-family: 'Varela Round' !important;
}

body {
    background-image: url(/Content/img/bg.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

img {
    height: 10rem !important;
    width: 10rem !important;
    border-radius: 100% !important;
    cursor: pointer;
}

.card-body {
    transform: translate(-50%, -25%) !important;
    font-size: 1rem !important;
}

.card {
    background-color: rgba(0, 0, 0, .3) !important;
    opacity: 80% !important;
    backdrop-filter: blur(20px) !important;
    color: #fff !important;
}

.btn-group {
    transform: translate(-50%, -80%) !important;
    justify-content: space-evenly !important;
}

a {
    color: #fff !important;
    transition: .1s !important;
}

.btn-group>a:hover {
    transform: scale(1.5) !important;
}

.text-justify {
    text-align: justify !important;
    letter-spacing: 0.1em !important;
}

svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

h3 {
    background-image: linear-gradient(to right, red,orange,yellow,green,skyblue,purple,violet, red); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 60s linear infinite;
    font-weight: bolder !important;
    font-size: 1.2rem !important;
}

@keyframes rainbow-animation {
    to {
        background-position: 350vh;
    }
}